<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Twitter</title>
</head>

<body>
    <section id="reset_password">
        <form method="POST">
            <input class="hide" name="user_password_key" type="text" value="{{user_password_key}}">
            <input name="user_password" type="text" placeholder="Password">
            <input name="user_confirm_password" type="text" placeholder="Confirm password">
            <button type="button" onclick="validate(resetPassword); return false">Change Password</button>

            <div id="error3">
            </div>
            <div id="password_changed">
            </div>
        </form>
    </section>
    <script src="/js/validate.js"></script>
    <script src="/js/app.js"></script>
</body>

</html>